.network {
  border: 3px solid gray;
  height: 90vh;
  width: 90vw;
  margin: 2%;
}
.scrollable-menu {
   height: auto;
   max-height: 180px;
   overflow-x:hidden;
}
div.vis-tooltip {
   white-space:pre-line;
}
.footer {
   margin:20px;
}
