.network {
  border: 3px solid gray;
  height: 90vh;
  width: 90vw;
  margin: 2%;
}
.scrollable-menu {
   height: auto;
   max-height: 180px;
   overflow-x:hidden;
}

.dropdown-submenu {
   position: relative;
}

.dropdown-submenu .dropdown-menu {
   top: 0;
   left: 100%;
   margin-top: -1px;
}
